*.*.swp
*.[oa]
*.gcda
*.gcno
*.gcov
*.gmo
*.log
*.orig
*.pyc
*~
.deps
Makefile
Makefile.in
POTFILES
aclocal.m4
ar-lib
autom4te.cache
bin
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/rsvndump.1
doc/rsvndump.xml
install-sh
missing
src/rsvndump
stamp-*
svn-win32
tests/auto/work
tests/db/cache
tests/db/dumps
tests/db/logs
tests/db/repos
tests/db/tmp
tests/db/wcs
tests/suite/logs
tests/suite/playground
tests/suite/rsvndump
tests/suite/work
win
!win/rsvndump.cbp
