*.[oa]
*.gmo
*~
*.pyc
*.*.swp
*.orig
*.log
*.gcda
*.gcov
*.gcno
.deps
Makefile
Makefile.in
POTFILES
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.guess
config.sub
config.status
configure
depcomp
install-sh
missing
stamp-*
doc/rsvndump.xml
doc/rsvndump.1
tests/suite/logs
tests/suite/playground
tests/suite/rsvndump
tests/suite/work
tests/db/logs
tests/db/tmp
tests/db/repos
tests/db/dumps
tests/db/cache
tests/db/wcs
tests/auto/work
src/rsvndump
