body {
	margin: 10px 40px 4px 40px;
	background-color: #EBEBEB;
}

h2 {
	text-align: center;
}

div.body {
	padding: 10px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

div.sflogo {
	border: 1px solid #000000;
	float: right;
}

div.index {
	margin: 1px;
	float: left;
}

div.main {
	clear: both;
}

a {
	text-decoration: none;
	font-weight: bold;
}

ul {
	padding-left: 30px;
	list-style-type: disc;
}
